*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans Extrabold", sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

#top{
    width: 100%;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1667124108984-7dacd827586d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: 20% 20%;

}

#overlay{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 10vw;
    color: black;
    background-color: transparent;
}

#text h1{
    font-size: 5vw;
    align-items: center;
}
#textright{
    align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#textright i{
    color: black;
    font-size: 30px;
}

#textright p{
    font-size: 18px;
    width: 30%;
}

#bottom{
    display: flex;
    width: 100%;
    min-height: 20vh;
    background-color: green;
}

#b1{
    padding: 50px;
    width: 25%;
    min-height:inherit;
    background-color: white;
}

#b1 p{
    font-size: 12px;
    margin-top: 20px;
    width: 80%;
}

#b2{
    width: 25%;
    min-height: inherit;
    background-image: url('https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/33720618-3cc7-490e-8402-1572e14e5f60/mmw-3-layer-jacket-5bQj26.png');
    background-size: cover;
    background-position: center;

}
#b3{
    width: 20%;
    min-height: inherit;
    /* background-color: blue; */
}

#b3top{
    width: 100%;
    min-height: 20vh;
    padding: 50px;
    background-color: rgba(255, 68, 0, 0.812);
    color: white;
}

#b3top p{
    margin-top: 20px;
    font-size: 12px;
}

#b3bottom{
    width: 100%;
    min-height: 20vh;
    background-image: url('assets/Instagram.jpeg');
    background-size: cover;
    background-position: 10% 70%;
}

#b4{
    width: 30%;
    min-height: inherit;
    background-color: #444;
    padding: 50px;
    color: white;
}

.notify{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notify #photo1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('https://img.freepik.com/free-photo/portrait-young-woman-with-natural-make-up_23-2149084942.jpg?w=740&t=st=1716270803~exp=1716271403~hmac=258cef64068a6a844706e847984a8865f404f7a2e5663a314efd20c990684f0b');
    background-size: cover;
}

.notify #photo2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('https://img.freepik.com/free-photo/medium-shot-guy-with-crossed-arms_23-2148227939.jpg?w=900&t=st=1716270962~exp=1716271562~hmac=e061ffb4d7d43d299a0e82fc2d2171e9b3dd460b42b9c0c0092b26f7a57b539a');
    background-size: cover;
}

.notify p{
    width: 60%;
    font-size: 12px;
}

@media (max-width: 600px) {

    #main #top{
    
        background-image: url('https://c1.peakpx.com/wallpaper/40/1012/40/mountains-black-and-white-wallpaper.jpg');
        background-size: cover;
        background-position: 40%;
    }

    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
        
    }

    #overlay #text h1{
        color: white;
        font-size: 10vw;
    }

    #overlay #text #textright{
        margin-top: 30px;
        flex-direction: column;
        align-items:flex-start;
    }

    #overlay #text #textright p{
        color: white;
        width: initial;
        margin-top: 2vh;
    }

    #overlay #text #textright #icons{
        margin-top: 50px;
    }

    #overlay #text #textright #icons i{
        color: white;
    }

    #main #bottom{
        flex-direction: column;
    }

    #bottom #b1{
        min-width: 100%;
    }
    #bottom #b2{
        min-width: 100%;
    }
    #bottom #b3{
        min-width: 100%;
        flex-direction: column;
    }
    #bottom #b4{
        min-width: 100%;
    }

    
}

